html {
	background: #eeeeee;
}
html .mceContentBody {
	margin: 0 auto;
}
html .mceContentBody.pix_column_210 {
	max-width: 210px!important;
}
img.mceWPclear {
  background: url(../images/visual_editor/clear.gif) no-repeat center, url(../images/visual_editor/subtlenet2.png) repeat center;
  border: 1px dotted #CCC;
  clear: both;
  display: block;
  width: 99%;
  height: 12px;
  margin: 0 auto;
}
img.mceWPhr {
  background: url(../images/visual_editor/hr.gif) no-repeat center, url(../images/visual_editor/subtlenet2.png) repeat center;
  border: 1px dotted #CCC;
  clear: both;
  display: block;
  width: 99%;
  height: 12px;
  margin: 0 auto;
}
img.mceWPslideshow {
  background: url(../images/visual_editor/slideshow.gif) no-repeat center, url(../images/visual_editor/subtlenet2.png) repeat center;
  border: 1px dotted #CCC;
  clear: both;
  cursor: pointer;
  display: block;
  width: 99%;
  height: 100px;
  margin: 0 auto;
}
img.mceWPtestimonials {
  background: url(../images/visual_editor/testimonials.gif) no-repeat center, url(../images/visual_editor/subtlenet2.png) repeat center;
  border: 1px dotted #CCC;
  clear: both;
  cursor: pointer;
  display: block;
  width: 99%;
  height: 100px;
  margin: 0 auto;
}
img.mceWPcontactform {
  background: url(../images/visual_editor/contactform.gif) no-repeat center, url(../images/visual_editor/subtlenet2.png) repeat center;
  border: 1px dotted #CCC;
  clear: both;
  cursor: pointer;
  display: block;
  width: 99%;
  height: 100px;
  margin: 0 auto;
}
img.mceWPvideo {
  background: url(../images/visual_editor/video.gif) no-repeat center, url(../images/visual_editor/subtlenet2.png) repeat center;
  border: 1px dotted #CCC;
  clear: both;
  cursor: pointer;
  display: block;
  width: 99%;
  height: 100px;
  margin: 0 auto;
}
img.mceWPaudio {
  background: url(../images/visual_editor/audio.gif) no-repeat center, url(../images/visual_editor/subtlenet2.png) repeat center;
  border: 1px dotted #CCC;
  clear: both;
  cursor: pointer;
  display: block;
  width: 99%;
  height: 50px;
  margin: 0 auto;
}
img.mceWPaccordion {
  background: url(../images/visual_editor/accordion.gif) no-repeat center, url(../images/visual_editor/subtlenet2.png) repeat center;
  border: 1px dotted #CCC;
  clear: both;
  cursor: pointer;
  display: block;
  width: 99%;
  height: 80px;
  margin: 0 auto;
}
img.mceWPtabs {
  background: url(../images/visual_editor/tabs.gif) no-repeat center, url(../images/visual_editor/subtlenet2.png) repeat center;
  border: 1px dotted #CCC;
  clear: both;
  cursor: pointer;
  display: block;
  width: 99%;
  height: 80px;
  margin: 0 auto;
}
img.mceWPpricetable {
  background: url(../images/visual_editor/pricetable.gif) no-repeat center, url(../images/visual_editor/subtlenet2.png) repeat center;
  border: 1px dotted #CCC;
  clear: both;
  cursor: pointer;
  display: block;
  width: 99%;
  height: 80px;
  margin: 0 auto;
}

/*
Theme Name: Forte by Pixedelic
Theme URI: http: //www.pixedelic.com/themes/forte
Description: A Wordpress theme by Manuel Masia (Pixedelic) 
Version: 1.0.0
Author: Manuel Masia | Pixedelic
Author URI: http: //themeforest.net/user/pixedelic
License: GNU General Public License
License URI: license.txt

*/

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

html {
  font-family: sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
img {
  border: 0;
  box-sizing: border-box; /* 1 */
}
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 2 */
  margin: 0; /* 3 */
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Forte font face base on FontAwesome
   ========================================================================== */

@font-face {
    font-family: 'forteregular';
  src: url('../../fonts/forte-webfont.eot');
  src: url('../../fonts/forte-webfont.eot?#iefix') format('embedded-opentype'),
     url('../../fonts/forte-webfont.woff') format('woff'),
     url('../../fonts/forte-webfont.ttf') format('truetype'),
     url('../../fonts/forte-webfont.svg#Forte') format('svg');
  font-weight: normal;
  font-style: normal;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .75;
}
:-moz-placeholder {
  color: inherit;
  opacity: .75;
}
:-ms-input-placeholder {
  color: inherit;
  opacity: .75;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'forteregular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-music:before { content: "\f001"; }
.icon-search:before { content: "\f002"; }
.icon-envelope:before { content: "\f003"; }
.icon-heart:before { content: "\f004"; }
.icon-star:before { content: "\f005"; }
.icon-star-empty:before { content: "\f006"; }
.icon-user:before { content: "\f007"; }
.icon-film:before { content: "\f008"; }
.icon-th-large:before { content: "\f009"; }
.icon-th:before { content: "\f00a"; }
.icon-th-list:before { content: "\f00b"; }
.icon-ok:before { content: "\f00c"; }
.icon-remove:before { content: "\f00d"; }
.icon-zoom-in:before { content: "\f00e"; }

.icon-zoom-out:before { content: "\f010"; }
.icon-off:before { content: "\f011"; }
.icon-signal:before { content: "\f012"; }
.icon-cog:before { content: "\f013"; }
.icon-trash:before { content: "\f014"; }
.icon-home:before { content: "\f015"; }
.icon-file:before { content: "\f016"; }
.icon-time:before { content: "\f017"; }
.icon-road:before { content: "\f018"; }
.icon-download-alt:before { content: "\f019"; }
.icon-download:before { content: "\f01a"; }
.icon-upload:before { content: "\f01b"; }
.icon-inbox:before { content: "\f01c"; }
.icon-play-circle:before { content: "\f01d"; }
.icon-repeat:before { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before { content: "\f021"; }
.icon-list-alt:before { content: "\f022"; }
.icon-lock:before { content: "\f023"; }
.icon-flag:before { content: "\f024"; }
.icon-headphones:before { content: "\f025"; }
.icon-volume-off:before { content: "\f026"; }
.icon-volume-down:before { content: "\f027"; }
.icon-volume-up:before { content: "\f028"; }
.icon-qrcode:before { content: "\f029"; }
.icon-barcode:before { content: "\f02a"; }
.icon-tag:before { content: "\f02b"; }
.icon-grid:before { content: "\f02c"; }
.icon-book:before { content: "\f02d"; }
.icon-bookmark:before { content: "\f02e"; }
.icon-print:before { content: "\f02f"; }

.icon-camera:before { content: "\f030"; }
.icon-font:before { content: "\f031"; }
.icon-bold:before { content: "\f032"; }
.icon-italic:before { content: "\f033"; }
.icon-text-height:before { content: "\f034"; }
.icon-text-width:before { content: "\f035"; }
.icon-align-left:before { content: "\f036"; }
.icon-align-center:before { content: "\f037"; }
.icon-align-right:before { content: "\f038"; }
.icon-align-justify:before { content: "\f039"; }
.icon-list:before { content: "\f03a"; }
.icon-indent-left:before { content: "\f03b"; }
.icon-indent-right:before { content: "\f03c"; }
.icon-facetime-video:before { content: "\f03d"; }
.icon-picture:before { content: "\f03e"; }

.icon-pencil:before { content: "\f040"; }
.icon-map-marker:before { content: "\f041"; }
.icon-adjust:before { content: "\f042"; }
.icon-tint:before { content: "\f043"; }
.icon-edit:before { content: "\f044"; }
.icon-share:before { content: "\f045"; }
.icon-check:before { content: "\f046"; }
.icon-move:before { content: "\f047"; }
.icon-step-backward:before { content: "\f048"; }
.icon-fast-backward:before { content: "\f049"; }
.icon-backward:before { content: "\f04a"; }
.icon-play:before { content: "\f04b"; }
.icon-pause:before { content: "\f04c"; }
.icon-stop:before { content: "\f04d"; }
.icon-forward:before { content: "\f04e"; }

.icon-fast-forward:before { content: "\f050"; }
.icon-step-forward:before { content: "\f051"; }
.icon-eject:before { content: "\f052"; }
.icon-chevron-left:before { content: "\f053"; }
.icon-chevron-right:before { content: "\f054"; }
.icon-plus-sign:before { content: "\f055"; }
.icon-minus-sign:before { content: "\f056"; }
.icon-remove-sign:before { content: "\f057"; }
.icon-ok-sign:before { content: "\f058"; }
.icon-question-sign:before { content: "\f059"; }
.icon-info-sign:before { content: "\f05a"; }
.icon-screenshot:before { content: "\f05b"; }
.icon-remove-circle:before { content: "\f05c"; }
.icon-ok-circle:before { content: "\f05d"; }
.icon-ban-circle:before { content: "\f05e"; }

.icon-arrow-left:before { content: "\f060"; }
.icon-arrow-right:before { content: "\f061"; }
.icon-arrow-up:before { content: "\f062"; }
.icon-arrow-down:before { content: "\f063"; }
.icon-share-alt:before { content: "\f064"; }
.icon-resize-full:before { content: "\f065"; }
.icon-resize-small:before { content: "\f066"; }
.icon-plus:before { content: "\f067"; }
.icon-minus:before { content: "\f068"; }
.icon-asterisk:before { content: "\f069"; }
.icon-exclamation-sign:before { content: "\f06a"; }
.icon-gift:before { content: "\f06b"; }
.icon-leaf:before { content: "\f06c"; }
.icon-fire:before { content: "\f06d"; }
.icon-eye-open:before { content: "\f06e"; }

.icon-eye-close:before { content: "\f070"; }
.icon-warning-sign:before { content: "\f071"; }
.icon-plane:before { content: "\f072"; }
.icon-calendar:before { content: "\f073"; }
.icon-random:before { content: "\f074"; }
.icon-comment:before { content: "\f075"; }
.icon-magnet:before { content: "\f076"; }
.icon-chevron-up:before { content: "\f077"; }
.icon-chevron-down:before { content: "\f078"; }
.icon-retweet:before { content: "\f079"; }
.icon-shopping-cart:before { content: "\f07a"; }
.icon-folder-close:before { content: "\f07b"; }
.icon-folder-open:before { content: "\f07c"; }
.icon-resize-vertical:before { content: "\f07d"; }
.icon-resize-horizontal:before { content: "\f07e"; }

.icon-bar-chart:before { content: "\f080"; }
.icon-camera-retro:before { content: "\f083"; }
.icon-key:before { content: "\f084"; }
.icon-cogs:before { content: "\f085"; }
.icon-comments:before { content: "\f086"; }
.icon-thumbs-up:before { content: "\f087"; }
.icon-thumbs-down:before { content: "\f088"; }
.icon-star-half:before { content: "\f089"; }
.icon-heart-empty:before { content: "\f08a"; }
.icon-signout:before { content: "\f08b"; }
.icon-linkedin-sign:before { content: "\f08c"; }
.icon-pushpin:before { content: "\f08d"; }
.icon-external-link:before { content: "\f08e"; }

.icon-signin:before { content: "\f090"; }
.icon-trophy:before { content: "\f091"; }
.icon-github-sign:before { content: "\f092"; }
.icon-upload-alt:before { content: "\f093"; }
.icon-lemon:before { content: "\f094"; }
.icon-phone:before { content: "\f095"; }
.icon-check-empty:before { content: "\f096"; }
.icon-bookmark-empty:before { content: "\f097"; }
.icon-phone-sign:before { content: "\f098"; }
.icon-twitter:before { content: "\f099"; }
.icon-facebook:before { content: "\f09a"; }
.icon-github:before { content: "\f09b"; }
.icon-unlock:before { content: "\f09c"; }
.icon-credit-card:before { content: "\f09d"; }
.icon-rss:before { content: "\f09e"; }

.icon-hdd:before { content: "\f0a0"; }
.icon-bullhorn:before { content: "\f0a1"; }
.icon-bell:before { content: "\f0a2"; }
.icon-certificate:before { content: "\f0a3"; }
.icon-hand-right:before { content: "\f0a4"; }
.icon-hand-left:before { content: "\f0a5"; }
.icon-hand-up:before { content: "\f0a6"; }
.icon-hand-down:before { content: "\f0a7"; }
.icon-circle-arrow-left:before { content: "\f0a8"; }
.icon-circle-arrow-right:before { content: "\f0a9"; }
.icon-circle-arrow-up:before { content: "\f0aa"; }
.icon-circle-arrow-down:before { content: "\f0ab"; }
.icon-globe:before { content: "\f0ac"; }
.icon-wrench:before { content: "\f0ad"; }
.icon-tasks:before { content: "\f0ae"; }

.icon-filter:before { content: "\f0b0"; }
.icon-briefcase:before { content: "\f0b1"; }
.icon-fullscreen:before { content: "\f0b2"; }

.icon-group:before { content: "\f0c0"; }
.icon-link:before { content: "\f0c1"; }
.icon-cloud:before { content: "\f0c2"; }
.icon-beaker:before { content: "\f0c3"; }
.icon-cut:before { content: "\f0c4"; }
.icon-copy:before { content: "\f0c5"; }
.icon-paper-clip:before { content: "\f0c6"; }
.icon-save:before { content: "\f0c7"; }
.icon-sign-blank:before { content: "\f0c8"; }
.icon-reorder:before { content: "\f0c9"; }
.icon-list-ul:before { content: "\f0ca"; }
.icon-list-ol:before { content: "\f0cb"; }
.icon-strikethrough:before { content: "\f0cc"; }
.icon-underline:before { content: "\f0cd"; }
.icon-table:before { content: "\f0ce"; }

.icon-magic:before { content: "\f0d0"; }
.icon-truck:before { content: "\f0d1"; }
.icon-money:before { content: "\f0d6"; }
.icon-caret-down:before { content: "\f0d7"; }
.icon-caret-up:before { content: "\f0d8"; }
.icon-caret-left:before { content: "\f0d9"; }
.icon-caret-right:before { content: "\f0da"; }
.icon-columns:before { content: "\f0db"; }
.icon-sort:before { content: "\f0dc"; }
.icon-sort-down:before { content: "\f0dd"; }
.icon-sort-up:before { content: "\f0de"; }

.icon-envelope-alt:before { content: "\f0e0"; }
.icon-linkedin:before { content: "\f0e1"; }
.icon-undo:before { content: "\f0e2"; }
.icon-legal:before { content: "\f0e3"; }
.icon-dashboard:before { content: "\f0e4"; }
.icon-comment-alt:before { content: "\f0e5"; }
.icon-comments-alt:before { content: "\f0e6"; }
.icon-bolt:before { content: "\f0e7"; }
.icon-sitemap:before { content: "\f0e8"; }
.icon-umbrella:before { content: "\f0e9"; }
.icon-paste:before { content: "\f0ea"; }

.icon-user-md:before { content: "\f200"; }

.icon-prev-slide:before { content: "\f231"; }
.icon-next-slide:before { content: "\f232"; }
.icon-blog:before { content: "\f234"; }
.icon-show-left:before { content: "\f235"; }
.icon-show-right:before { content: "\f236"; }
.icon-go-down:before { content: "\f237"; }
.icon-go-up:before { content: "\f238"; }
.icon-add-cart:before { content: "\f240"; }
.icon-hourglass:before { content: "\f241"; }

.icon-black-like:before { content: "\f201"; }
.icon-black-dislike:before { content: "\f202"; }
.icon-rss:before { content: "\f203"; }
.icon-skype:before { content: "\f220"; }

.icon-pinterest:before { content: "\f208"; }
.icon-pinterest-sign:before { content: "\f0d3"; }
.icon-facebook-sign:before { content: "\f204"; }
.icon-linkedin-sign:before { content: "\f206"; }
.icon-twitter-sign:before { content: "\f207"; }
.icon-pinterest-sign:before { content: "\f208"; }
.icon-github-sign:before { content: "\f209"; }
.icon-dribbble:before { content: "\f210"; }
.icon-stumbleupob:before { content: "\f211"; }
.icon-behance:before { content: "\f212"; }
.icon-reddit:before { content: "\f213"; }
.icon-google-plus-sign:before { content: "\f0d4"; }
.icon-google-plus:before { content: "\f0d5"; }
.icon-youtube-sign:before { content: "\f105"; }
.icon-youtube:before { content: "\f215"; }
.icon-vimeo:before { content: "\f216"; }
.icon-flickr:before { content: "\f217"; }
.icon-picasa:before { content: "\f219"; }
.icon-instagram:before { content: "\f222"; }
.icon-foursquare:before { content: "\f223"; }
.icon-delicious:before { content: "\f224"; }
.icon-tumblr:before { content: "\f227"; }
.icon-digg:before { content: "\f229"; }
.icon-wordpress:before { content: "\f230"; }

/*******************************************************
********                    ********
            GENERAL
********                    ********
*******************************************************/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  line-height: 1.8em;
}
#tinymce {
  height: auto;
  min-height: 100%;
  padding: 20px;
}
fieldset {
  border: none;
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
}
h6 {
  text-transform: uppercase;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: .8em 0 0;
  padding: 0;
  .position: relative;
}
h1,h2{
  line-height: 1.15em;
}
h3,h4 {
  line-height: 1.25em;
}
h5,h6 {
  line-height: 1.6em;
}
p, .entry-summary {
  display: block;
  margin: 1em 0px;
  overflow: hidden;
}
.entry-summary {
  min-width: 50px;
}
p.h1_subtitle {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.6em;
  margin: .4em 0;
  text-align: left;
  text-transform: uppercase;
}
.first-top {
  margin-top: 0!important;
}
table, td {
  border-collapse: collapse;
  padding: 0;
}
img {
  display: block;
}
section img, article img, .pix_load_content img, footer img {
  height: auto;
  max-width: 100%;
}
section img.letmebe, footer img.letmebe {
  max-width: none;
}
figure {
  margin: 0 0 30px;
  padding: 0;
}
figcaption {
  font-size: .9em;
  font-style: italic;
  padding: 5px 10px;
  text-align: center;
}
* {
  outline: none;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
img.alignleft {
  margin: .5em 10px .5em 0;
}
img.alignright {
  margin: .5em 0 .5em 10px;
}
.textalignright {
  text-align: right;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.textaligncenter {
  text-align: center;
}
.entry-content img {
  margin: 0 0 1.5em 0;
}
.pos_relative {
  position: relative!important;
}
img.avatar {
  margin: 0;
}
.wp-smiley { 
  max-height: 1em;
  margin: 0 !important;
}
.sticky, .bypostauthor {
}
.gallery dl {
  margin: 0;
}
.gallery-caption {
  margin: -1.5em 0 0 0;
}
blockquote {
  margin-left: 50px;
  position: relative;
  font-style: italic;
}
blockquote:before {
  content: '\201C';
  font-family: serif;
  font-size: 70px;
  left: -50px;
  opacity: .7;
  position: absolute;
  top: 15px;
  width: 50px;
}
blockquote.left {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  text-align: right;
  width: 33%;
}
blockquote.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
  text-align: left;
  width: 33%;
}
.wp-caption {
  text-align: center;
  margin-bottom: 1.5em;
  max-width: 100%!important;
}
.wp-caption.alignleft {
  margin-right: 10px;
}
.wp-caption.alignright {
  margin-left: 10px;
}
.wp-caption img {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.wp-caption p.wp-caption-text {
  font-style: italic;
  font-size: .95em;
  margin: 0;
  padding: 5px 0;
}
hr {
  border: 0;
  clear: both;
  display: block;
  float: left;
  height: 1px;
  margin: 20px 0;
  width: 100%;
}
hr + * {
  clear: left;
}
hr.double {
  height: 5px;
}
.clear {
  clear: both!important;
  display: block!important;
}
.clearone {
  clear: both;
  display: block;
  height: 1px;
  margin-bottom: -1px;
}
.hidden_div {
  display: none!important;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.margin_0 {
  margin: 0!important;
}
textarea:focus, input:focus{
    outline: none;
}
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.hidden {
  visibility: hidden;
}
pre {
  clear: both;
  line-height: 20px;
  margin: 20px 0;
  overflow: auto;
  padding: 19px 20px 19px;
}
code {
  padding: 0 2px;
}
.transparent {
  filter: alpha(opacity=00);
  opacity: 0;
  zoom: 1;
}
.shadow {
  position: absolute;
  z-index: 0;
}
.showme {
  display: none;
}
#content_wrap, 
header, 
aside.toggleAside,
.click_aside {
  
  
  
  
  
}
aside a, 
.pix_sitemap li a, 
footer a {
  text-decoration: none;
}
aside a:hover, 
.pix_sitemap li a:hover,
footer li a:hover {
  text-decoration: underline;
}
ul, ol {
  padding: 0;
}
aside li,
.pix_sitemap li,
footer li {
  list-style: none;
  margin-bottom: 10px;
  padding: 0 0 10px 10px;
  position: relative;
}
aside li:before, 
.pix_sitemap li:before,
footer li:before {
  content: '\f054';
  display: block;
  font-size: .8em;
  font-family: 'forteregular';
  left: 0;
  line-height: inherit;
  position: absolute;
  top: 1px;
}

input[type="text"], input[type="password"], input[type="email"],
input.input-text {
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 34px;
  line-height: 30px;
  max-width: 365px;
  padding: 2px 10px;
  width: 100%;
}
aside input[type="text"], aside input[type="password"], aside input[type="email"],
footer input[type="text"], footer input[type="password"], footer input[type="email"] {
  max-width: none;
  width: 100%;
}
.pix_success, .pix_info, .pix_question, .pix_error, .woocommerce_message, .woocommerce_error {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  display: block;
  font-weight: bold;
  margin: 1em 0;
  overflow: hidden;
  padding: 0 20px 0 50px;
  position: relative;
  text-align: left;
}
.pix_success p, .pix_info p, .pix_question p, .pix_error p, .woocommerce_message p, .woocommerce_error p
.pix_success a, .pix_info a, .pix_question a, .pix_error a, .woocommerce_message a, .woocommerce_error a {
  color: inherit;
}
.pix_success, .woocommerce_message {
  display: block;
  clear: both;
}
.woocommerce_message .button {
  float: right;
}
.woocommerce_message, .woocommerce_error {
  margin: .4em 0 1em;
  padding: 1em 20px 1em 50px;
}
.woocommerce_message li, .woocommerce_error li {
  list-style: none;
}
.pix_success:before, .woocommerce_message:before {
  content: "\f058";
  display: block;
  font-family: 'forteregular';
  font-size: 20px;
  height: 20px;
  left: 20px;
  line-height: 25px;
  margin-top: -10px;
  opacity: .5;
  position: absolute;
  text-align: center;
  top: 50%;
}
.pix_error, .woocommerce_error {
  display: block;
  clear: both;
}
.pix_error:before, .woocommerce_error:before {
  content: "\f06a";
  display: block;
  font-family: 'forteregular';
  font-size: 20px;
  height: 20px;
  left: 20px;
  line-height: 25px;
  margin-top: -10px;
  opacity: .5;
  position: absolute;
  text-align: center;
  top: 50%;
}
.pix_question {
  display: block;
  clear: both;
}
.pix_question:before {
  content: "\f059";
  display: block;
  font-family: 'forteregular';
  font-size: 20px;
  height: 20px;
  left: 20px;
  line-height: 25px;
  margin-top: -10px;
  opacity: .5;
  position: absolute;
  text-align: center;
  top: 50%;
}
.pix_info {
  display: block;
  clear: both;
}
.pix_info:before {
  content: "\f05a";
  display: block;
  font-family: 'forteregular';
  font-size: 20px;
  height: 20px;
  left: 20px;
  line-height: 25px;
  margin-top: -10px;
  opacity: .5;
  position: absolute;
  text-align: center;
  top: 50%;
}

/*******************************************************
********                    ********
            FORMS
********                    ********
*******************************************************/
textarea {
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 250px;
  max-width: 730px;
  padding: 10px;
  width: 100%;
}
select[multiple] {
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: 365px;
  padding: 10px;
  width: 100%;
}
.pix_widget .pix_contact_form {
  margin-top: 1.5em;
}
.pix_contact_form label {
  clear: both;
  display: block;
  font-weight: bold;
  margin: 10px 0 3px;
  position: relative;
}
.pix_contact_form .label_error {
  padding-left: 10px;
}
.pix_contact_form .label_error:before {
  content: "\f00d ";
  font-family: 'forteregular';
  font-size: 10px;
  left: 0;
  line-height: inherit;
  position: absolute;
  padding-right: 5px;
  top: 2px;
}
.pix_contact_form .pix_captcha_field {
  letter-spacing: 2px;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
}
.pix_contact_form a.recaptcha {
  color: inherit;
  display: block;
  float: left;
  font-size: 18px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  width: 34px;
}
.pix_contact_form a.recaptcha:active {
  opacity: .7;
}
.pix_contact_form .captchaCont {
  overflow: hidden;
}
.pix_contact_form .captchaCont input[type="text"] {
  width: 130px;
}
.select_wrap {
  font-weight: normal!important;
}
.pix_contact_form .select_wrap {
  max-width: 365px;
  width: 100%;
}
.pix_contact_form .select_fake {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: 365px!important;
  width: 100%!important;
}

.pix_contact_form .pix_checkbox,
.pix_contact_form .select_wrap {
  margin-bottom: 10px;
}
.pix_contact_form .clear {
  height: 10px;
}
.pix_contact_form .ui-datepicker-trigger {
  cursor: pointer;
  display: inline-block;
  font-family: 'forteregular';
  font-size: 20px;
  height: 34px;
  line-height: 34px;
  margin: -5px 0 0 -34px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 34px;
  z-index: 1;
}
.pix_contact_form .icon-calendar {
  display: inline-block;
  font-family: 'forteregular';
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 -34px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 34px;
  z-index: 0;
}
.pix_contact_form input.hasCalendar {
  padding-right: 34px;
}
.pix_contact_form input[type="submit"] {
  clear: left;
  float: left;
  margin-top: 5px;
}
.pix_contact_form .pix_success {
  display: none;
  float: left;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
}
.pix_contact_form .pix_error {
  display: none;
  float: left;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + span {
  background-color: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05), inset 0px -2px 5px 0 rgba(0,0,0,0.05);
  color: #666666;
  display: inline-block;
  height: 12px;
  line-height: 12px;
  position: relative;
  text-align: center;
  width: 12px;
}

input[type="checkbox"] + span:active, input[type="checkbox"]:checked + span:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type="checkbox"]:checked + span {
  box-shadow: inset 0px 2px 5px 0 rgba(0,0,0,0.2);
}

input[type="checkbox"]:checked + span:after {
  content: '\f00c';
  display: block;
  float: left;
  font-family: 'forteregular';
  font-size: 10px;
  line-height: 14px;
  width: 100%;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + span {
  background-color: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05), inset 0px -2px 5px 0 rgba(0,0,0,0.05);
  display: inline-block;
  height: 12px;
  line-height: 12px;
  position: relative;
  text-align: center;
  width: 12px;
}

input[type="radio"] + span:active, input[type="radio"]:checked + span:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type="radio"]:checked + span {
  box-shadow: inset 0px 2px 5px 0 rgba(0,0,0,0.2);
}

input[type="radio"]:checked + span:after {
  background: #5b5b5b;
  border-radius: 3px;
  -moz-box-shadow:
    0px 1px 0px rgba(255,255,255,1);
  -webkit-box-shadow:
    0px 1px 0px rgba(255,255,255,1);
  box-shadow:
    0px 1px 0px rgba(255,255,255,1);
  content: '';
  display: block;
  height: 6px;
  left: 50%;
  margin: -3px 0 0 -3px;
  position: absolute;
  top: 50%;
  width: 6px;
}
label.fake_label {
  clear: inherit;
  display: inline-block!important;
  font-weight: normal;
  margin: 0;
  position: static;
  vertical-align: middle;
}
.select_wrap {
  cursor: pointer;
  float: left;
  padding: 0 0 2px;
  position: relative;
}
select {
  display: none;
}
select[multiple] {
  display: block;
  min-width: 100px;
}
select.letmebe, .donot_smooth_ds select, select.country_select {
  display: block;
  font-size: .95em;
  height: 35px;
  line-height: 35px;
}
.select_wrap select {
  border: 0;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  position: relative;
  z-index: 2;
}
.select_fake {
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  left: 0;
  padding: 0 26px 0 15px;
  position: absolute;
  text-align: left;
  top: 0;
  z-index: 1;
}
.select_fake .dd_arrow {
  position: absolute;
  height: 30px;
  line-height: 30px;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
}

/*******************************************************
********                    ********
            HEADER
********                    ********
*******************************************************/
#content_wrap > header {
  display: block;
  float: left;
  left: 0;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  zoom: 1;
}
.header_scroll #content_wrap > header {
  position: absolute;
}
#content_wrap > header.left_asided {
  left: 300px;
}
#content_wrap > header.right_asided {
  right: 300px;
}
#content_wrap > header > div.wrap_header {
  float: left;
  position: relative;
  width: 100%;
}
#logo {
  display: block;
  float: left;
  height: 100px;
  line-height: 100px;
  margin: 0;
  padding: 0;
  visibility: hidden;
  
  
  
  
  
}
#logo a, #logo a:hover {
  background-color: transparent;
  display: block;
  padding: 0 10px;
  text-decoration: none;
}
#logo img {
  display: inline;
  max-width: 100%;
  vertical-align: middle;
}
#logo_subtitle {
  display: block;
  float: left;
  font-size: 13px;
  font-weight: normal;
  height: 95px;
  line-height: 95px;
  margin: 0;
  padding: 0;
  visibility: hidden;
    
    
    
    
    
}
#logo_subtitle span {
  display: block;
  padding: 0 5px;
  text-decoration: none;
}

/*******************************************************
********                    ********
            HEADER
********                    ********
*******************************************************/
nav {
  display: block;
}
nav i.hidden_div {
  display: none!important;
}
nav ul {
  float: right;
  margin: 0;
  overflow: visible!important;
  padding: 0;
}
nav > div > ul li {
  position: relative;
}
nav > div > ul > li {
  border-bottom: 1px solid transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 100px;
  line-height: 100px;
  list-style: none;
  margin: 0 0 0 1px;
  overflow: visible;
  padding: 0;
  position: relative;
  visibility: hidden;
  
  
  
  
  
  z-index: 1;
}
nav > div > ul > li > ul, 
nav > div > ul > li > div {
  left: -9999px;
  padding: 5px 0;
  position: absolute;
  top: -9999px;
}
nav > div > ul > li li > ul {
  background: url(../../images/blank.gif) repeat;
  left: -9999px;
  margin-top: -15px;
  padding: 0 5px;
  position: absolute;
  top: -9999px;
  z-index: 1;
}
nav > div > ul > li > ul > span,
nav > div > ul > li > div > div,
nav > div > ul > li li > ul > span {
  float: left;
  padding: 15px 0;
}
nav .totop_arrow {
  bottom: -6px;
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
nav .toleft_arrow {
  bottom: 0;
  height: 2em;
  left: 0;
  padding: 0;
  position: absolute;
  top: 15px;
  width: 5px;
}
nav .toright_arrow {
  bottom: 0;
  height: 2.9em;
  padding: 0;
  position: absolute;
  right: 0;
  top: 15px;
  width: 5px;
}
nav > div > ul > li.current-menu-item > a:after {
  bottom: 0;
  content: '';
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent; 
  display: block;
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}

nav > div > ul > li > a {
  display: block;
  float: left;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  
  
  
  
  
}
nav > div > ul > li > a > span {
  display: block;
}
nav > div > ul > li li {
  border-bottom: 1px solid transparent;
  
  
  
  
  
}
nav > div > ul > li ul li {
  height: auto;
  line-height: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
nav > div > ul > li ul li a {
  display: block;
  overflow: hidden;
  padding: 5px 10px;
  text-decoration: none;
}
nav > div > ul > li > div .pix_mega_title {
  text-transform: uppercase;
}
nav .pix_mega_title small {
  display: block;
  font-style: italic;
  font-weight: normal;
  line-height: 1.6em;
  text-transform: none;
}
nav > div > ul > li ul li {
  width: 248px;
}
nav > div > ul > li li.pix_megamenu_2_col {
  width: 496px;
}
nav > div > ul > li li.pix_megamenu_3_col {
  width: 744px;
}
nav > div > ul > li li.pix_megamenu_4_col {
  width: 992px;
}
.mega_clear {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
nav .menu_mobile .mega_clear {
  display: none;
}
.mega_clear > div {
  clear: both;
  display: block;
  height: 1px;
}
nav .icon-plus {
  font-size: 0.538em;
  padding-left: 0.231em;
  vertical-align: middle;
  margin-right: -0.385em;
}
nav .children .icon-plus {
  padding-left: 0;
  padding-right: 3px;
}
nav .pix_hover .icon-plus:before {
  content: "\f068"!important;
}
nav .pix_icon_menu {
  margin-left: -3px;
  padding-right: 2px;
}
nav li li [class^="icon-"] {
  line-height: 1.8em!important;
}
nav span.pix_desc_image {
  display: block;
  float: right;
  margin: 5px 0 5px 10px;
}
nav .close_x {
  bottom: -20px;
  cursor: pointer;
  font-size: 8px;
  font-style: normal;
  height: 20px;
  margin: 0;
  padding: 0;
  left: 5px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  width: 20px;
  z-index: 0;
}
nav > div > ul > li > ul > .close_x,
nav > div > ul > li > div .close_x {
  left: 0;
  bottom: -15px;
}
nav .select_wrap {
  display: none;
  float: right;
  margin-left: 20px;
  vertical-align: middle;
}

#pix_select_menu option {
  font-family: 'adelle';
  font-weight: 300;
}

/*******************************************************
********                    ********
          MAIN SECTION
********                    ********
*******************************************************/
article {
  float: left;
  overflow: hidden;
  padding: 40px 0 50px;
  width: 100%;
}
section {
  overflow: hidden;
}
section#pix_breadcrumbs,
section.filters_section {
  overflow: visible;
}
.pix_grid_very_fluid section.filters_section {
  float: left;
  width: 100%;
}
section
section.the_content {
  margin-top: 30px;
}
#breadcrumbs {
  display: block;
  float: left;
  min-height: 18px;
  font-size: 11px;
  margin: -50px 0 0;
  opacity: .9;
  padding: 0;
  position: relative;
  width: 100%;
}
.pix_disable_titlesection #breadcrumbs {
  display: none;
}
#breadcrumbs li {
  display: block;
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 3px 0;
  list-style: none;
  margin: 0;
}
#breadcrumbs a {
  display: block;
  height: 18px;
  line-height: 18px;
  text-decoration: underline;
}
#breadcrumbs a:hover {
  text-decoration: none;
}
#breadcrumbs .home {
  font-size: 14px;
  line-height: 18px;
  padding: 0 2px;
  text-decoration: none;
}
.breadcrumbs_color_white #breadcrumbs .home, .breadcrumbs_color_white .bbp-breadcrumb-home {
  background-position: -151px -125px;
}
#breadcrumbs .bread_separator {
  display: block;
  float: left;
  font-size: 8px;
  height: 18px;
  line-height: 18px;
  padding: 3px 4px 3px 2px;
  text-decoration: none;
}
.pix_divider {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  margin: 60px -20px;
  padding: 20px 0 60px;
}
.pix_cover {
  background-size: cover;
  position: relative;
}
.pix_cover > div {
  position: relative;
  z-index: 1;
}
.pix_cover > img {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}
.pix_norepeat {
  background-repeat: no-repeat;
}
.pix_divider.firstDivider {
  border-width: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: -40px -20px 60px;
  min-height: 16px;
  padding: 0 0 1.5em;
}
.pix_disable_titlesection .pix_divider.firstDivider {
  display: none;
}
.pix_divider.firstDivider h1 {
  clear: both;
  color: inherit;
  display: block;
  float: left;
  font-size: 3em;
  position: relative;
  z-index: 1;
}
.pix_divider p.h1_subtitle {
  clear: both;
  color: inherit;
  display: block;
  margin: 0;
  position: relative;
  text-align: left;
  z-index: 1;
}
.pix_divider.firstDivider .pix_meta_date {
  clear: both;
  display: block;
}
.pix_divider span {
  line-height: 1.45em;
  padding: 2px 0;
}
body.is_mobile .pix_divider {
  background-attachment: scroll;
  background-position: center;
}
.pix_divider .pix_column_990 > div {
  display: block;
  padding: 0;
  
    
    
    
    
}
article.pix_grid_very_fluid {
  margin-top: -100px;
  overflow: visible;
}
article.pix_grid_very_fluid > section {
  overflow: visible;
}
.pix_column {
  margin: 0 auto;
  position: relative;
  
  
  
  
  
}
.pix_column_thumb {
  overflow: hidden;
  position: relative;
}
.pix_column.pix_column_thumb.pix_column_featured {
  margin: 1.55em 25px 1em 0;
}
#related_posts {
  margin-bottom: 15px;
}
#related_posts .pix_column.pix_column_thumb.pix_column_featured {
  margin: 1.1em 25px 1em 0;
}
#related_posts .pix_simple_grid {
  margin: 1.1em 0 -3.3em;
}
#related_posts .pix_simple_grid .pix_column.pix_column_thumb.pix_column_featured {
  margin-right: 50px;
}
section.pix_wall {
  float: left;
  margin-bottom: 40px;
  overflow: visible!important;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  padding: 0;
  width: 100%;
}
section.pix_wall .pix_column_thumb {
  overflow: visible;
}
section.pix_wall .entry {
  position: relative;
  
  
  
  
  
  
  
  
  
  
  z-index: 10;

}
section.pix_wall .pix_column_thumb {
  margin: 0;
  
  
  
  
  
}
section.pix_wall .entry .pix_slideshow {
  height: 100%;
  margin: 0;
}
section.pix_wall .pix_thumb_link {
  overflow: hidden;
}
section.pix_wall .entry.notHover {
  /*opacity: .65!important;
  filter: alpha(opacity=65)!important;*/
  z-index: 10;
}
section.pix_wall .entry.hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1!important;
  filter: alpha(opacity=100)!important;
  z-index: 11;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 0;
}
/*section.pix_wall .pix_slideshow_target {
  height: 100%!important;
}*/
.pix_column_thumb .jp-jplayer {
  height: 100%!important;
  position: relative;
  width: 100%!important;
  z-index: 1;
}
.single .jp-jplayer {
  margin-top: .4em;
}
.single #related_posts .jp-jplayer {
  margin-top: 0;
}
.pix_column_thumb .jp-audio,
section.pix_wall iframe {
  position: absolute;
  z-index: 1;
}
.pix_simple_grid .pix_column_thumb {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}
.pix_simple_grid .entry-content {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  display: block;
  font-size: .95em;
  overflow: hidden;
  padding: 5px 15px 20px;
  position: relative;
}
.pix_simple_grid[data-cols="3"] .entry-content h5,
.pix_simple_grid[data-cols="4"] .entry-content h5 {
  font-size: 1.1em;
}
.entry-sliding-content {
  border: 0;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  bottom: 0;
  display: block;
  left: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  overflow: hidden;
  opacity: 0;
  padding: 0 20px 20px;
  position: absolute;
  right: 0;
  z-index: 0;
}
.pix_wall a,
.pix_wall img {
  display: block;
  overflow: hidden;
  position: relative;
}
.pix_grid_very_fluid .entry img {
  max-height: 100%;
  width: 100%;
}
.entry-sliding-content.toTop {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  bottom: auto;
  top: 0;
}
.entry-sliding-arrow {
  border-top: 0; 
  border-left: 12px solid transparent; 
  border-right: 12px solid transparent; 
  bottom: 0;
  height: 0;
  left: 50%;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  margin-left: -8px;
  width: 0;
  z-index: 10;
}
.entry-sliding-arrow.toTop {
  border-bottom: 0; 
  bottom: auto;
  top: 0;
}
.pix_column_thumb iframe {
  float: left;
}
.pix_column_990,
.pix_fullheight .pix_slideshow_target_inner,
.pix_fullheight .filmore_commands .pix_column {
  width: 990px;
}
.pix_column_730 {
  width: 730px;
}
.pix_column_210 {
  margin-right: 50px;
  width: 210px;
}
.pix_column_470 {
  margin-right: 50px;
  width: 470px;
}
.pix_column_210.aligleft {
  margin-right: 30px;
}
#content_wrap {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
#content_wrap.left_asided {
  left: 300px;
}
#content_wrap.right_asided {
  right: 300px;
}
#content {
  float: left;
  margin-top: 102px;
  width: 100%;
  z-index: 0;
}
.entry {
  float: left;
  width: 100%;
}
.pix_simple_grid,
.pix_gallery_grid {
  margin-right: -50px;
}
.pix_wall .entry,
.pix_simple_grid .entry {
  opacity: 1;
  width: auto;
}
.pix_simple_grid .entry {
  margin: .4em -1px 3.3em 1px;
}
.maybe_clear.clear {
  width: 100%;
}
.entry-meta {
  float: left;
  font-size: .825em;
  margin: 10px 0 -10px;
  padding-top: 1em;
  text-transform: uppercase;
  width: 100%;
}
.entry-meta [class^="icon-"] {
  font-size: 1.075em;
  opacity: .75;
}
.entry-meta .likeThis [class^="icon-"] {
  opacity: .75;
}
.entry-meta .done [class^="icon-"] {
  opacity: 1;
}
.entry-meta .read-more [class^="icon-"] {
  font-size: .9em;
  opacity: 1;
}
.entry-meta > span {
  display: inline-block;
  margin-right: .3em;
}
.entry-meta a {
  color: inherit;
  text-decoration: none;
}
.video-post-format {
  position: relative;
}
.video-post-format > table {
  background: #000000;
  float: left;
  height: 100%;
  position: relative;
  vertical-align: middle;
  width: 100%;
  z-index: 2;
}
.audio-post-format.pix_column_thumb {
  position: relative;
}
.audio-post-format.pix_column_thumb > div.notplaying {
  height: 100%;
  position: relative;
}
.audio-post-format.pix_column_thumb .jp-controls
{
  background: rgba(21,21,21,.85);
  border-radius: 20px;
  font-family: 'forteregular';
  left: 50%;
  margin-left: -20px;
  /*margin-top: -20px;*/
  padding: 0;
  position: absolute;
  width: 40px;
}
.audio-post-format.pix_column_thumb .jp-play,
.audio-post-format.pix_column_thumb .jp-pause
{
  background: transparent;
  color: #ffffff;
  font-size: 25px;
  height: 40px;
  padding: 0;
  text-align: center;
  vertical-align: text-bottom;
  width: 40px;
}
.audio-post-format.pix_column_thumb .jp-play {
  line-height: 46px;
  text-indent: 3px;
}
.audio-post-format.pix_column_thumb .jp-pause {
  line-height: 46px;
}
.audio-post-format.pix_column_thumb .jp-play:after { 
  content: "\f04b";
}
.audio-post-format.pix_column_thumb .jp-pause:after { 
  content: "\f04c";
}
.audio-post-format.pix_column_thumb .jp-play:active,
.audio-post-format.pix_column_thumb .jp-pause:active
 {
  opacity: .7;
}
.pagenavi a {
  display: inline-block;
  .display: inline;
  height: 26px;
  line-height: 26px;
  margin: 0 1px;
  text-decoration: none;
  text-align: center;
  width: 26px;
}
.pagenavi .current {
  border-radius: 13px;
  display: inline-block;
  .display: inline;
  height: 26px;
  line-height: 26px;
  margin: 0 1px;
  text-decoration: none;
  text-align: center;
  width: 26px;
}
.pagenavi .prev, .pagenavi .next {
  display: none;
}
.moreItemsInfinite  {
  clear: both;
  display: block;
  margin: 20px 0 0;
  text-align: center;
  width: 100%;
}
#pix_featured_image {
  display: block;
  margin: .4em 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
#pix_featured_image img {
  float: left;
  position: relative;
  z-index: 0;
}
.pix_overlay_icon {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  bottom: 50%;
  display: block;
  font-size: 0;
  height: 0;
  left: 50%;
  line-height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 50%;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  width: 0;
  z-index: 3;
    
    
    
    
    
}
a:hover .pix_overlay_icon {
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  margin: -15px;
  opacity: 1;
  width: 30px;
}
.pix_overlay_border {
  bottom: 0;
  display: block;
  display: none\9;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  
  
  
  
  
}
a:hover .pix_overlay_border {
  display: block;
  margin: 10px;
  opacity: .8;
}
#pix_prev_next_post {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}
#pix_prev_next_post td.even_td {
  line-height: 1.2em;
  width: 49%;
}
#pix_prev_next_post a {
  color: inherit;
  font-size: .85em;
  text-decoration: none;
  text-transform: uppercase;
}
div[data-lines] {
  display: none;
}
div[data-lines] p {
  margin: 0;
  padding: 0;
}
.related_wrapper .pix_related_grid {
  margin-right: -50px;
}
.related_wrapper .entry-summary {
  font-size: .9em;
}
.related_wrapper .read-more {
  color: inherit;
  font-size: .85em;
  text-transform: uppercase;
  text-decoration: none;
}
.commentlist, .commentlist ul {
  margin: 0;
  padding: 0;
}
.commentlist ul .comment_counter {
  font-size: 1.385em;
  left: -30px;
  width: 30px;
}
.commentlist li {
  list-style: none;
  margin: 0;
  position: relative;
}
#reviews .commentlist li {
  margin-bottom: 10px;
  padding: 10px;
}
.commentlist li .comment_container_wrap {
  margin: 0;
  position: relative;
}
.commentlist li .comment_container_wrap hr {
  margin-bottom: 0;
}
.commentlist li .comment_container {
  margin: 30px 0 0 0;
  padding-left: 60px;
  position: relative;
}
#reviews .commentlist li .comment_container {
  margin: 0;
}
.commentlist li #respond hr {
  display: none!important;
}
.commentlist li form, .commentlist li h4 {
  margin: 0 0 0 60px;
}
.commentlist li.depth-2 .comment_container_wrap {
  margin: 0 0 0 30px;
}
.commentlist li.depth-2 .dotted_vert {
  left: 1px;
  top: -30px;
}
.commentlist li.depth-3 .comment_container_wrap {
  margin: 0 0 0 60px;
}
.commentlist li.depth-3 .dotted_vert {
  left: 31px;
  top: -30px;
}
.commentlist li.depth-4 .comment_container_wrap {
  margin: 0 0 0 90px;
}
.commentlist li.depth-4 .dotted_vert {
  left: 61px;
  top: -30px;
}
.commentlist li .comment_container.highlighted {
  border-width: 4px;
}
.comment_avatar,
.comment_container .avatar {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}
.comment_container .description {
  clear: both;
  display: block;
}
.comment_container .meta {
  float: left;
  line-height: 1.2em;
  margin: 0;
}
.comment_container time {
  clear: both;
  display: block;
  font-style: italic;
  font-size: .8em;
}
.comment_container .dotted_horiz {
  left: 20px;
  right: 20px;
}
.comment_counter {
  font-size: 1.9em;
  font-style: italic;
  height: 50px;
  left: -75px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 75px;
}
.commentform_appended {
  position: absolute;
}
.comment-subscription-form {
  font-style: italic;
  margin: 0;
}
.comment-reply-link,
.comment-edit-link,
#cancel-comment-reply-link,
.pix_widget_follow_link,
.pix_button.tiny_button {
  border-radius: 2px;
  display: block;
  float: left;
  line-height: 1em;
  padding: .2em .4em;
  margin-top: .2em;
  text-decoration: none;
  text-transform: uppercase;
}
.comment-reply-link,
.comment-edit-link,
#cancel-comment-reply-link,
.pix_widget_follow_link {
  float: left;
}
.comment-reply-link:active,
.comment-edit-link:active,
#cancel-comment-reply-link:active,
.pix_button.tiny_button:active {
  border-bottom-width: 0!important;
}
.comment_indent {
  height: 50px;
  left: -31px;
  top: -30px;
  position: absolute;
  width: 30px;
}
.postmetadata {
  clear: both;
  line-height: 1.65em;
  margin: 20px 0;
  min-height: 25px;
  padding: 10px 20px;
  position: relative;
}
.postmetadata a, .edit-link a {
  color: inherit;
  font-size: .875em;
  text-decoration: none;
  text-transform: uppercase;
}
.postmetadata .like-this {
  line-height: 20px;
  opacity: .75;
  position: absolute;
  right: 20px;
  top: 10px;
}
.postmetadata .like-this i {
  font-size: 15px;
  vertical-align: middle;
}
.likeThis.done {
  cursor: default;
}
.postmetadata > span {
  display: block;
  padding: 2px 0;
}
.author-info {
  clear: both;
  margin: 60px 0 20px;
}
#author-info {
  font-size: .9em;
  line-height: 1.65em;
  min-height: 65px;
  padding: 10px 20px 20px;
  position: relative;
}
#author-info #author-avatar,
.usericon {
  display: block;
  float: left;
  margin: .3em 10px 10px 0;
}


/*******************************************************
********                    ********
          RESPONSIVENESS
********                    ********
*******************************************************/
  body[data-width="media10241279"] .pix_column_990,
  body[data-width="media10241279"] .pix_fullheight .pix_slideshow_target_inner,
  body[data-width="media10241279"] .pix_fullheight .filmore_commands .pix_column {
    width: 890px;
  }
  body[data-width="media10241279"] nav > div > ul > li li.pix_megamenu_2_col {
    width: 444px;
  }
  body[data-width="media10241279"] .pix_column_730 {
    width: 658px;
  }
  body[data-width="media10241279"] .pix_column_470 {
    width: 426px;
    margin-right: 38px;
  }
  body[data-width="media10241279"] .pix_column_210 {
    width: 194px;
    margin-right: 38px;
  }
  body[data-width="media10241279"] .pix_simple_grid .pix_column_210 {
    width: 200px;
    margin-right: 30px!im;
  }


  body[data-width="media7681023"] .pix_column_990,
  body[data-width="media7681023"] .pix_fullheight .pix_slideshow_target_inner,
  body[data-width="media7681023"] .pix_fullheight .filmore_commands .pix_column {
    width: 670px;
  }
  body[data-width="media7681023"] nav > div > ul > li li.pix_megamenu_2_col {
    width: 334px;
  }
  body[data-width="media7681023"] .pix_column_730 {
    width: 495px;
  }
  body[data-width="media7681023"] .pix_column_470 {
    width: 320px;
    margin-right: 30px;
  }
  body[data-width="media7681023"] .pix_column_210 {
    width: 145px;
    margin-right: 30px;
  }
  body[data-width="media7681023"] nav > div > ul > li ul li {
    width: 168px;
  }
  body[data-width="media7681023"] .pix_simple_grid .pix_column_210 {
    width: 210px;
    margin-right: 20px;
  }
  body[data-width="media7681023"] .pix_column_730 .pix_simple_grid .pix_column_210 {
    width: 157px;
    margin-right: 12px;
  }

  body[data-width="media480767"] {
    -webkit-text-size-adjust: none;
  }
  body[data-width="media480767"] .pix_column_990,
  body[data-width="media480767"] .pix_fullheight .pix_slideshow_target_inner,
  body[data-width="media480767"] .pix_fullheight .filmore_commands .pix_column,
  body[data-width="media480767"] .pix_column_730, body[data-width="media480767"] .pix_column_470, body[data-width="media480767"] .pix_column_210 {
    margin-right: auto;
    width: 470px;
  }
  body[data-width="media480767"] .pix_sidebar.alignright, body[data-width="media480767"] .pix_sidebar.alignleft {
    float: none;
    margin-left: auto!important;
    margin-right: auto!important;
    overflow: hidden;
    width: 450px;
  }
  body[data-width="media480767"] .pix_sidebar.alignright > div, body[data-width="media480767"] .pix_sidebar.alignleft > div {
    padding-left: 23px;
    padding-right: 23px;
  }
  body[data-width="media480767"] section.pix_wall {
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 470px;
  }
  body[data-width="media480767"] .pix_simple_grid .pix_column_210 {
    width: 210px;
    margin-right: 50px;
  }


  body[data-width="media320479"]  {
    -webkit-text-size-adjust: none;
  }
  body[data-width="media320479"] nav ul.menu {
    display: none!important;
  }
  body[data-width="media320479"] nav .select_wrap {
    display: block!important;
  }
  body[data-width="media320479"] #content_wrap > header {
    position: absolute;
    text-align: center;
  }
  body[data-width="media320479"] #content_wrap > header .pix_column_990 {
    width: 100%;
  }
  body[data-width="media320479"] #content_wrap > header #logo {
    display: inline-block;
    float: none;
    width: 100%;
  }
  body[data-width="media320479"] #content_wrap > header #logo_subtitle {
    display: none;
    margin-top: 10px;
  }
  body[data-width="media320479"] #content_wrap > header nav.alignright {
    display: inline-block;
    float: none;
    line-height: normal!important;
    margin: 10px 0;
  }
  body[data-width="media320479"] #content_wrap > header nav .select_wrap {
    display: inline-block;
    float: none;
    line-height: normal!important;
    margin: 0!important;
  }
  body[data-width="media320479"] #content {
    margin-top: 154px;
  }
  body[data-width="media320479"] .pix_column_990,
  body[data-width="media320479"] .pix_fullheight .pix_slideshow_target_inner,
  body[data-width="media320479"] .pix_fullheight .filmore_commands .pix_column,
  body[data-width="media320479"] .pix_column_730, body[data-width="media320479"] .pix_column_470, body[data-width="media320479"] .pix_column_210 {
    margin-right: auto;
    width: 310px;
  }
  body[data-width="media320479"] .pix_sidebar.alignright, body[data-width="media320479"] .pix_sidebar.alignleft {
    margin-left: auto!important;
    margin-right: auto!important;
    width: 290px;
  }
  body[data-width="media320479"] .pix_sidebar.alignright > div, body[data-width="media320479"] .pix_sidebar.alignleft > div {
    padding-left: 23px;
    padding-right: 23px;
  }
  section.pix_wall {
    clear: both;
    float: none;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 310px;
  }
  body[data-width="media320479"] .pix_simple_grid .pix_column_210,
  body[data-width="media320479"] .pix_column.pix_column_thumb.pix_column_featured.pix_column_210,
  body[data-width="media320479"] #related_posts .pix_column.pix_column_thumb.pix_column_featured {
    width: 210px;
    margin-left: 50px;
    margin-right: 50px;
  }

body .pix_column_210.alignright,
body .pix_column_470.alignright,
body .pix_column_730.alignright {
  margin-right: 0!important;
}
