.pix_meta_boxes .alignleft,
.pix_meta_shortcode .alignleft {
	float: left!important;
}
.pix_meta_boxes .alignright,
.pix_meta_shortcode .alignright {
	float: right!important;
}
.pix_megamenu-item, .pix_column-item, .pix_width-item {
	clear: both;
	display: none;
	height: auto;
	width: 390px;
}
.pix_image-item, .pix_title-item {
	clear: both;
	display: block;
	height: auto;
	width: 390px;
}
.menu-item {
	overflow: hidden;
}
.menu-item select {
	padding: 0!important;
}
.menu-item-depth-0 .pix_megamenu-item {
	display: block;
}
.menu-item-depth-1 .pix_megamenu-item {
	display: none;
}
.pix_column-item {
	display: none;
}
.menu-item-depth-1.in-a-megamenu .pix_column-item {
	display: block;
}
.menu-item-column .pix_title-item,
.menu-item-row .pix_title-item,
.menu-item-depth-0 .pix_title-item {
	display: none;
}
.menu-item-alert .menu-item-handle {
 	background: #ff0000;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#ff0000),to(#f9f9f9));
	background-image: -webkit-linear-gradient(bottom,#ff0000,#f9f9f9);
	background-image: -moz-linear-gradient(bottom,#ff0000,#f9f9f9);
	background-image: -o-linear-gradient(bottom,#ff0000,#f9f9f9);
	background-image: linear-gradient(to top,#ff0000,#f9f9f9);
 }

.pix_meta_boxes label {
	font-weight: bold;
}
.pix_meta_boxes input[type=text] {
	width: 50%;	
}
.pix_meta_boxes small, .pix_meta_shortcode small {
	display: block;
	font-family: serif;
	font-size: 12px;
	font-style: italic;
}


.pix_meta_control .description
{ display: none; }
 
.pix_meta_control label
{ display: block; font-weight: bold; margin: 6px; margin-bottom: 0; margin-top: 12px; }
 
.pix_meta_control label span
{ display: inline; font-weight: normal; }
 
.pix_meta_control span
{ color: #999; display: block; }
 
.pix_meta_control textarea, .pix_meta_control input[type='text']
{ margin-bottom: 3px; width: 99%; }
 
.pix_meta_control h4
{ color: #999; font-size: 1em; margin: 15px 6px; text-transform: uppercase; }

.pix_meta_control hr {
	border: 0;
	border-top: 1px solid #ddd;
	display: block;
	float: left;
	height: 10px;
	margin-top: 20px;
	width: 100%;
}
.pix_meta_control .clear, .pix_meta_boxes .clear {
	clear: both;
	display: block;
}
.pix_meta_control input[type=text] {
	float: left;
	height: 32px;
	max-width: 300px;
	width: 40%;
}
.pix_meta_control select {
	line-height: 32px;
	height: 32px;
	min-width: 100px;
}


#pix_meta_typography,
#pix_meta_decoration,
#pix_meta_googlemap,
#pix_meta_contactform,
#pix_meta_slideshow,
#pix_meta_tooltip,
#pix_meta_video,
#pix_meta_audio,
#pix_meta_accordion,
#pix_meta_tab,
#pix_meta_columns,
#pix_meta_dropcap,
#pix_meta_button,
#pix_meta_pricetable,
#pix_meta_tweets,
#pix_meta_galleries,
#pix_meta_categories,
#pix_meta_box,
#pix_page_builder,
#pix_page_testimonial,
#pix_meta_edittext,
#pix_page_builder_content,
#pix_meta_testimonial_sc {
	display: none!important;
}


.pix_meta_shortcode {
	font-family: "HelveticaNeue-Bold","Helvetica Neue Bold","Helvetica Bold",sans-serif;
}
.pix_meta_shortcode > div {
	float: left;
	padding: 0 20px 20px!important;
}
.pix_meta_shortcode label {
	clear: both;
	display: block;
	font-size: 14px;
	margin: 20px 0 10px;
}
.pix_meta_shortcode input[type=text],
.pix_meta_shortcode select,
.pix_meta_shortcode textarea {
	background: #fff;
	border: 3px solid #a1c1c8;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #9d9d9d;
	font-family: "HelveticaNeue-Bold","Helvetica Neue Bold","Helvetica Bold",sans-serif;
	font-weight: bold;
	font-size: 16px;
	height: 42px;
	line-height: 30px;
	margin-bottom: 5px;
	padding: 6px 0;
	text-indent: 12px;
	vertical-align: middle;
	width: 100%;
}
.pix_meta_shortcode textarea {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-weight: normal;
	height: 150px;
	line-height: 15px;
	text-indent: 0;
}
.pix_meta_shortcode label.frame_preview {
	border: 1px solid #ccc;
	clear: none;
	float: left;
	height: 30px;
	margin: 5px;
	padding: 5px 5px 5px 20px;
	width: 200px;
}
.pix_meta_boxes .pix_color_picker {
	position: relative;
	width: 228px;
}
.pix_meta_boxes .pix_color_picker input[type=text] {
	float: left;
	width: 228px;
}
.pix_meta_boxes .pix_palette {
	background: url(../images/forte_sprite_admin.png) no-repeat -503px -223px;
	cursor: pointer;
	float: left;
	height: 35px;
	position: absolute;
	right: -30px;
	top: -6px;
	width: 30px;
}
.pix_meta_boxes .colorpicker {
	background: url(../images/forte_sprite_admin.png) no-repeat -503px -260px;
	clear: both;
	display: none;
	padding: 3px 34px 3px 10px;
	position: absolute;
	right: -270px;
	top: -89px;
	z-index: 3;
}
.pix_meta_boxes .picker_close {
	cursor: pointer; 
	display: none; 
	height: 24px;
	position: absolute; 
	right: -261px;
	top: -82px;
	width: 24px;
	z-index: 3;
}


.pix_meta_shortcode .frame_preview.floral_divid_1 {
	background: url(../../images/dividers/floral_divid_1.png) no-repeat center #fff;
}
.pix_meta_shortcode .frame_preview.floral_divid_2 {
	background: url(../../images/dividers/floral_divid_2.png) no-repeat center #fff;
}
.pix_meta_shortcode .frame_preview.floral_divid_3 {
	background: url(../../images/dividers/floral_divid_3.png) no-repeat center #fff;
}
.pix_meta_shortcode .frame_preview.floral_divid_4 {
	background: url(../../images/dividers/floral_divid_4.png) no-repeat center #fff;
}
.pix_meta_shortcode .frame_preview.floral_divid_5 {
	background: url(../../images/dividers/floral_divid_5.png) no-repeat center #fff;
}
.pix_meta_shortcode .frame_preview.floral_divid_6 {
	background: url(../../images/dividers/floral_divid_6.png) no-repeat center #fff;
}
.pix_meta_shortcode .frame_preview.floral_divid_7 {
	background: url(../../images/dividers/floral_divid_7.png) no-repeat center #fff;
}
.pix_meta_shortcode .frame_preview.floral_divid_8 {
	background: url(../../images/dividers/floral_divid_8.png) no-repeat center #fff;
}
.pix_meta_shortcode .frame_preview.floral_divid_9 {
	background: url(../../images/dividers/floral_divid_9.png) no-repeat center #fff;
}
.pix_meta_shortcode .frame_preview.floral_divid_10 {
	background: url(../../images/dividers/floral_divid_10.png) no-repeat center #fff;
}


.pix_meta_shortcode .clone {
	display: none;
}
.pix_meta_shortcode .field_wrap {
	background: #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	clear: right;
	float: left;
	padding: 4px;
	position: relative;
}
.pix_meta_shortcode .pix_slide {
	margin-bottom: 4px;
	position: relative;
	clear: right;
	float: left;
	margin-bottom: 4px;
}
.pix_meta_shortcode .pix_add_slide {
	clear: both;
}
.pix_meta_shortcode .pix_slide > .field_wrap  {
	padding-left: 38px;
	position: relative;
	width: 480px;
}
.pix_meta_shortcode .pix_slide_move {
	bottom: 0;
	cursor: move;
	left: 3px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 33px;
}
.pix_meta_shortcode .pix_slide_move > span {
	background: url(../images/forte_sprite_admin.png) no-repeat -503px -149px;
	display: block;
	height: 33px;
	left: 3px;
	margin-top: -17px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 33px;
	z-index: 1;
}
.pix_meta_shortcode .ui-state-highlight {
	background: #fff7e1;
	border: 1px dotted #ecc8aa;
	clear: both;
	float: left;
	height: 41px;
	margin-bottom: 4px;
	width: 364px;
}
.pix_meta_shortcode .pix_remove_slide,
.pix_meta_shortcode .pix_remove_contact_form,
.pix_meta_shortcode .pix_remove_sidebar {
	margin-top: -19px;
	position: absolute;
	right: -33px;
	top: 50%;
}
.pix_meta_shortcode .pix_remove_slide a,
.pix_meta_shortcode .pix_remove_contact_form a,
.pix_meta_shortcode .pix_remove_sidebar a {
	background: url(../images/forte_sprite_admin.png) no-repeat -503px -186px;
	display: block;
	height: 37px;
	line-height: 37px;
	text-decoration: none;
	width: 33px;
}


#pricetable_generator .pix_row {
	background: #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	clear: both;
	display: block;
	overflow: hidden;
	padding: 4px;
	position: relative;
}
#pricetable_generator .pix_cell {
	float: left;
}
.strong_char_bad {
	color: #c00;
}
.pix_meta_boxes .fullscreen_alignment {
	background: #e5e5e5;
	border: 1px solid #c2c2c2;
	overflow: hidden;
	width: 150px;
}
.pix_meta_boxes .fullscreen_alignment > div {
	border: 1px solid #c2c2c2;
	cursor: pointer;
	float: left;
	height: 48px;
	position: relative;
	width: 48px;
}
.pix_meta_boxes .fullscreen_alignment > div: hover {
	background: #f0f0f0;
}
.pix_meta_boxes .fullscreen_alignment > div.checked {
	background: #fff;
}
.pix_meta_boxes .pix_upload_image img {
	display: block;
}
.pix_meta_boxes .pix_upload_image input[type=text] {
	float: left;
	line-height: 24px;
	margin-right: 4px;
}
.pix_image_thumb {
	background: #fff;
	border: 1px solid #c2c2c2;
	color: #5b5b5b;
	cursor: pointer;
	float: left;
	font-size: 20px;
	height: 33px;
	line-height: 33px;
	margin-right: 4px;
	overflow: hidden;
	text-align: center;
	width: 33px;
}
.pix_meta_boxes .pix_image_thumb img {
	height: auto;
	margin: 0;
	width: 100%;
}
.pix_meta_boxes .pix_upload_image_button {
	float: left;
	margin-top: 8px;
}
.pix_meta_boxes .text_98 {
	width: 98%!important;
}
.pix_meta_boxes .text_90 {
	width: 90%!important;
}
#pix_pag_opts_subtitle {
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	width: 90%;
}
#pix_pag_opts_metatitle {
	height: 32px;
	line-height: 32px;
}
#pix_pag_opts_metadescription {
	width: 90%;
	line-height: 32px;
	height: 32px;
}
#pix_pag_opts_metakeys {
	height: 150px;
	width: 90%;
}
.pix_meta_boxes .pix_mini_text {
	width: 40px;
}
.pix_meta_shortcode .width_100_pc {
	box-sizing: border-box;
	width: 100%!important;
}
.pix_meta_shortcode .width_100 {
	width: 100px!important;
}
.pix_meta_shortcode .width_195 {
	width: 195px!important;
}
.pix_meta_shortcode .width_470 {
	width: 470px!important;
}
.pix_meta_shortcode .width_475 {
	width: 475px!important;
}
.pix_meta_shortcode .width_560 {
	width: 560px!important;
}
.pix_meta_shortcode .select_categories {
	min-height: 180px;
}
.grey_button {
	float: left;
	height: 35px;
	position: relative;
	width: auto;
}
.grey_button .button_left {
	background: url(../images/forte_sprite_admin.png) no-repeat -538px -112px;
	bottom: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 4px;
	z-index: 0;
}
.grey_button:active .button_left {
	background: url(../images/forte_sprite_admin.png) no-repeat -546px -112px;
}
.grey_button .button_right {
	background: url(../images/forte_sprite_admin.png) no-repeat -542px -112px;
	bottom: 0;
	right: 0;
	position: absolute;
	top: 0;
	width: 4px;
	z-index: 0;
}
.grey_button:active .button_right {
	background: url(../images/forte_sprite_admin.png) no-repeat -550px -112px;
}
.grey_button .button_body {
	background: url(../images/forte_sprite_admin.png) repeat-x 0 -737px;
	bottom: 0;
	left: 4px;
	position: absolute;
	right: 4px;
	top: 0;
	z-index: 0;
}
.grey_button:active .button_body {
	background: url(../images/forte_sprite_admin.png) repeat-x 0 -772px;
}
.grey_button.pix_add_field {
	margin-left: 5px;
}
.grey_button a {
	color: #787878;
	display: block;
	font-size: 11px;
	font-weight: bold;
	line-height: 35px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	padding: 0 12px;
	position: relative;
	z-index: 1;
}
.pix_upload_image input[type=text] {
	float: left;
	margin: 5px 4px 0 0;
	width: 228px;
}
.pix_meta_boxes input[type="text"].reduced_input {
	line-height: 24px;
	width: 228px;
}
.pix_meta_boxes code.reduced_input {
	line-height: 30px;
	margin-top: 1px;
}
.pix_meta_boxes .ui-slider-horizontal,
.pix_meta_shortcode .ui-slider-horizontal {
	background: url(../images/forte_sprite_admin.png)  no-repeat -411px -77px;
	clear: right;
	float: left;
	height: 10px;
	margin: 10px 5px 5px;
	position: relative;
	width: 217px;
	z-index: 1;
}
.pix_meta_boxes .ui-slider-horizontal a,
.pix_meta_shortcode .ui-slider-horizontal a {
	background: url(../images/forte_sprite_admin.png)  no-repeat -451px -56px;
	height: 21px;
	margin: -5px 0 0 -14px;
	position: absolute;
	width: 28px;
	z-index: 3;
}
.pix_meta_boxes .ui-slider-range,
.pix_meta_shortcode .ui-slider-range {
	background: url(../images/forte_sprite_admin.png)  no-repeat -411px -94px;
	height: 10px;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}
.pix_meta_shortcode .slider_cursor,
.pix_meta_boxes .slider_cursor {
	clear: both;
	display: block;
}

.pix_body_builder #wp-content-editor-tools #content-html,
.pix_body_builder #wp-content-media-buttons,
.pix_body_builder #content_toolbargroup > span {
	display: none;
}
.pix_body_builder #content_toolbargroup {
	height: 43px;
}
.builder-active .switch-builder {
	border-color: #ccc #ccc #e9e9e9;
	background-color: #e9e9e9;
	color: #333333;
}
#pix_builder_tools {
	border-bottom: 1px solid #CCC;
	background-color: #e9e9e9;
	background-image: -ms-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: -moz-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: -o-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: -webkit-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: linear-gradient(bottom,#ddd,#e9e9e9);
	display: block;
	height: 25px;
	padding: 10px;
	text-align: center;
}
#pix_builder_canvas {
	background-color: #fafafa;
	background-image: -ms-linear-gradient(bottom,#fafafa,#ffffff);
	background-image: -moz-linear-gradient(bottom,#fafafa,#ffffff);
	background-image: -o-linear-gradient(bottom,#fafafa,#ffffff);
	background-image: -webkit-linear-gradient(bottom,#fafafa,#ffffff);
	background-image: linear-gradient(bottom,#fafafa,#ffffff);
	display: block;
	overflow: hidden;
	padding: 10px;
}
#pix_builder_cant {
	font-family: serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	width: 200px;
}
#pix_builder_cant.pix_builder_form {
	text-align: left;
}
#pix_builder_cant.pix_builder_form input[type=text], #pix_builder_cant select {
	display: block;
	font-family: HelveticaNeue,"Helvetica Neue", Tahoma, Geneva, sans-serif;
	font-size: .9em;
	font-weight: normal;
	line-height: 25px;
	width: 100%;
}

ul.pix_builded_grid {
	background-repeat: repeat;
	background-size: auto;
	height: 180px;
	margin: 20px auto;
	padding: 0 20px 0 10px;
	position: relative;
}
.wrap[data-maxcolumns="4"] ul.pix_builded_grid {
	min-width: 780px;
}
.wrap[data-maxcolumns="3"] ul.pix_builded_grid {
	min-width: 585px;
}
.wrap[data-maxcolumns="2"] ul.pix_builded_grid {
	min-width: 600px;
}
.pix_norepeat {
	background-repeat: no-repeat!important;
}
.pix_cover {
	background-size: cover!important;
}
ul.pix_builded_grid > span {
	background: #eeeeee;
	float: left;
	height: 160px;
	margin: 0 -10px;
	overflow: hidden;
	padding: 10px;
	width: 100%;
}
.wrap[data-maxcolumns="3"] ul.pix_builded_grid[data-size="4"] {
	margin-left: -107px;
	margin-right: -108px;
}
.wrap[data-maxcolumns="2"] ul.pix_builded_grid[data-size="4"] {
	margin-left: -190px;
	margin-right: -190px;
}
.wrap[data-maxcolumns="3"] ul.pix_builded_grid[data-size="4"] > span,
.wrap[data-maxcolumns="2"] ul.pix_builded_grid[data-size="4"] > span,
.wrap[data-maxcolumns="2"] ul.pix_builded_grid[data-size="3"] > span
{
	background: #ffd6d6!important;
}
ul.ui-state-highlight {
	background: #ffffff;
	height: 180px;
	margin-top: 20px;
	padding: 0;
	position: relative;
	z-index: 1;
}
ul.ui-state-highlight:before {
	border: 1px dotted #dddddd;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

ul.pix_builded_grid > span > li {
	background-color: #959595;
	background-color: -ms-linear-gradient(bottom,#6a6a6a,#959595);
	background-color: -moz-linear-gradient(bottom,#6a6a6a,#959595);
	background-color: -o-linear-gradient(bottom,#6a6a6a,#959595);
	background-color: -webkit-linear-gradient(bottom,#6a6a6a,#959595);
	background-color: linear-gradient(bottom,#6a6a6a,#959595);
	background-position: center;
	background-repeat: repeat;
	background-size: auto;
	color: #ffffff;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 18px;
	height: 120px;
	margin: 10px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	z-index: 2;
}
ul.pix_builded_grid > span > li .gradient_end {
	background: url(../images/visual_editor/gradient_end.png) repeat-x bottom;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
ul.pix_builded_grid > span > li > span * {
	color: #ffffff!important;
}
ul.pix_builded_grid > span > li.transitioning {
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}
ul.pix_builded_grid .pix_row_icons {
	background-color: #eeeeee;
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	position: absolute;
	width: 20px;
}
ul.pix_builded_grid .pix_builder_move {
	background-image: url(../images/visual_editor/row_move.png);
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	cursor: move;
	left: -20px;
	top: 10px;
}
ul.pix_builded_grid .pix_builder_remove {
	background-image: url(../images/visual_editor/row_remove.png);
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	bottom: 10px;
	cursor: pointer;
	right: -10px;
}
ul.pix_builded_grid .pix_builder_add {
	background-image: url(../images/visual_editor/row_add.png);
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	cursor: pointer;
	right: -10px;
	top: 10px;
}
ul.pix_builded_grid .pix_builder_clone {
	background-image: url(../images/visual_editor/row_clone.png);
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	cursor: pointer;
	right: -10px;
	top: 32px;
}
ul.pix_builded_grid > span > li .pix_items_icons {
	background-color: #222222;
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	position: absolute;
	width: 20px;
	z-index: 1000;
}
ul.pix_builded_grid > span > li .pix_builder_move {
	background-image: url(../images/visual_editor/move.png);
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	cursor: move;
	left: 5px;
	top: 5px;
}
ul.pix_builded_grid > span > li .pix_builder_remove {
	background-image: url(../images/visual_editor/remove.png);
	bottom: 5px;
	cursor: pointer;
	right: 5px;
}
ul.pix_builded_grid > span > li .pix_builder_bg {
	background-image: url(../images/visual_editor/bg.png);
	cursor: pointer;
	left: 50%;
	margin: -10px 0 0 -31px;
	top: 50%;
}
ul.pix_builded_grid > span > li .pix_builder_cancelbg {
	background-image: url(../images/visual_editor/cancelbg.png);
	cursor: pointer;
	left: 50%;
	margin: -10px 0 0 11px;
	top: 50%;
}
ul.pix_builded_grid > span > li .pix_builder_repeat {
	background-image: url(../images/visual_editor/repeat.png);
	cursor: pointer;
	left: 50%;
	margin: -10px 0 0 -10px;
	top: 50%;
}
ul.pix_builded_grid > span > li .pix_builder_repeat.pix_cover {
	background-image: url(../images/visual_editor/cover.png);
}
ul.pix_builded_grid > span > li .pix_builder_repeat.pix_norepeat {
	background-image: url(../images/visual_editor/norepeat.png);
}
ul.pix_builded_grid > span > li .pix_builder_slideshow {
	background-image: url(../images/visual_editor/slideshow.png);
	cursor: pointer;
	left: 50%;
	margin: -10px 0 0 -21px;
	top: 50%;
}
ul.pix_builded_grid > span > li .pix_builder_slideheight {
	background-image: url(../images/visual_editor/heightauto.png);
	cursor: pointer;
	left: 50%;
	margin: -10px 0 0 1px;
	top: 50%;
}
ul.pix_builded_grid > span > li .pix_builder_slideheight.pix_fullheight {
	background-image: url(../images/visual_editor/height100pc.png);
}
ul.pix_builded_grid > span > li .pix_builder_edit {
	background-image: url(../images/visual_editor/edit.png);
	cursor: pointer;
	right: 5px;
	top: 5px;
}
ul.pix_builded_grid > span > li .pix_builder_id {
	background-image: url(../images/visual_editor/id.png);
	cursor: pointer;
	right: 27px;
	top: 5px;
}
ul.pix_builded_grid > span > li[data-slideshow="true"] .pix_builder_id {
	right: 5px;
}
ul.pix_builded_grid > span > li .pix_builder_expand {
	background-image: url(../images/visual_editor/expand.png);
	cursor: pointer;
	left: 50%;
	margin: -10px 0 0 1px;
	top: 50%;
}
ul.pix_builded_grid > span > li .pix_builder_contract {
	background-image: url(../images/visual_editor/contract.png);
	cursor: pointer;
	left: 50%;
	margin: -10px 0 0 -21px;
	top: 50%;
}
ul.pix_builded_grid > span > li .pix_builder_clone {
	background-image: url(../images/visual_editor/clone.png);
	bottom: 5px;
	cursor: pointer;
	left: 5px;
	top: auto;
}
#pix_builder_tools .pix_builder_top_button {
	background: #9a9a9a; /* Old browsers */
	border-bottom: 2px solid #555;
	display: inline-block;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
	line-height: 20px;
	padding: 2px 5px;
	text-shadow: 0px -1px 0px #222222;
	filter: dropshadow(color=#222222, offx=0, offy=-1);
	vertical-align: middle;
}
#pix_builder_tools .pix_builder_addrow:active {
	border-bottom-width: 1px;
	margin-top: 1px;
}
ul.pix_builded_grid > span > li img {
	height: auto;
	max-width: 100%;
}
ul.pix_builded_grid > span > li.pix_column_210 {
	width: 155px;
}
ul.pix_builded_grid > span > li.pix_column_470 {
	width: 350px;
}
ul.pix_builded_grid > span > li.pix_column_730 {
	width: 545px;
}
ul.pix_builded_grid > span > li.pix_column_990 {
	width: 740px;
}
ul.pix_builded_grid > span > li.ui-state-highlight {
	opacity: .3;
}
.pix_column {
	margin: 0 auto;
}
#pix_builder_canvas .wrap {
 	width: 810px;
}
#pix_builder_canvas .wrap[data-maxcolumns="3"] {
 	width: 595px;
}
#tempContent {
	display: none!important;
}
#pix_tooltip {
	background: #222222;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #ffffff;
	display: none;
	font-family: sans-serif;
	font-size: 11px;
	line-height: 1.4em;
	padding: 5px 10px;
	position: absolute;
	text-align: center;
	top: -9999px;
	z-index: 100;
}
#pix_tooltip_arrow.tobottom_arrow {
	border-bottom: 0; 
	border-left: 4px solid transparent; 
	border-right: 4px solid transparent; 
	border-top: 4px dashed #222222; 
	bottom: -4px;
	display: none;
	height: 0;
	left: 50%;
	position: absolute;
	margin: -4px 0 0 -4px;
	width: 0;
	z-index: 100;
}
#pix_tooltip_arrow.totop_arrow {
	border-bottom: 4px solid #222222; 
	border-left: 4px solid transparent; 
	border-right: 4px dashed transparent; 
	border-top: 0; 
	display: none;
	height: 0;
	position: absolute;
	margin: 0 0 0 -4px;
	width: 0;
	z-index: 100;
}
.pix_template_widepage_icon {
	background: url(../images/visual_editor/widepage.png) no-repeat bottom;
	display: block;
	height: 20px;
	width: 20px;
}
.pix_template_defaultpage_icon {
	background: url(../images/visual_editor/defaultpage.png) no-repeat bottom;
	display: block;
	height: 20px;
	width: 20px;
}
.pix_template_alert {
	background: url(../images/visual_editor/template_alert.png) no-repeat bottom !important;
	display: block;
	height: 20px;
	text-decoration: none;
	width: 20px;
}





@font-face {
  font-family: 'Forte';
  src: url('../../fonts/forte-webfont.eot');
  src: url('../../fonts/forte-webfont.eot?#iefix') format('embedded-opentype'),
     url('../../fonts/forte-webfont.woff') format('woff'),
     url('../../fonts/forte-webfont.ttf') format('truetype'),
     url('../../fonts/forte-webfont.svg#Forte') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: Forte;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
/*	Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
		readers do not read off random characters that represent icons */
.icon-music:before { content: "\f001"; }
.icon-search:before { content: "\f002"; }
.icon-envelope:before { content: "\f003"; }
.icon-heart:before { content: "\f004"; }
.icon-star:before { content: "\f005"; }
.icon-star-empty:before { content: "\f006"; }
.icon-user:before { content: "\f007"; }
.icon-film:before { content: "\f008"; }
.icon-th-large:before { content: "\f009"; }
.icon-th:before { content: "\f00a"; }
.icon-th-list:before { content: "\f00b"; }
.icon-ok:before { content: "\f00c"; }
.icon-remove:before { content: "\f00d"; }
.icon-zoom-in:before { content: "\f00e"; }

.icon-zoom-out:before { content: "\f010"; }
.icon-off:before { content: "\f011"; }
.icon-signal:before { content: "\f012"; }
.icon-cog:before { content: "\f013"; }
.icon-trash:before { content: "\f014"; }
.icon-home:before { content: "\f015"; }
.icon-file:before { content: "\f016"; }
.icon-time:before { content: "\f017"; }
.icon-road:before { content: "\f018"; }
.icon-download-alt:before { content: "\f019"; }
.icon-download:before { content: "\f01a"; }
.icon-upload:before { content: "\f01b"; }
.icon-inbox:before { content: "\f01c"; }
.icon-play-circle:before { content: "\f01d"; }
.icon-repeat:before { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before { content: "\f021"; }
.icon-list-alt:before { content: "\f022"; }
.icon-lock:before { content: "\f023"; }
.icon-flag:before { content: "\f024"; }
.icon-headphones:before { content: "\f025"; }
.icon-volume-off:before { content: "\f026"; }
.icon-volume-down:before { content: "\f027"; }
.icon-volume-up:before { content: "\f028"; }
.icon-qrcode:before { content: "\f029"; }
.icon-barcode:before { content: "\f02a"; }
.icon-tag:before { content: "\f02b"; }
.icon-grid:before { content: "\f02c"; }
.icon-book:before { content: "\f02d"; }
.icon-bookmark:before { content: "\f02e"; }
.icon-print:before { content: "\f02f"; }

.icon-camera:before { content: "\f030"; }
.icon-font:before { content: "\f031"; }
.icon-bold:before { content: "\f032"; }
.icon-italic:before { content: "\f033"; }
.icon-text-height:before { content: "\f034"; }
.icon-text-width:before { content: "\f035"; }
.icon-align-left:before { content: "\f036"; }
.icon-align-center:before { content: "\f037"; }
.icon-align-right:before { content: "\f038"; }
.icon-align-justify:before { content: "\f039"; }
.icon-list:before { content: "\f03a"; }
.icon-indent-left:before { content: "\f03b"; }
.icon-indent-right:before { content: "\f03c"; }
.icon-facetime-video:before { content: "\f03d"; }
.icon-picture:before { content: "\f03e"; }

.icon-pencil:before { content: "\f040"; }
.icon-map-marker:before { content: "\f041"; }
.icon-adjust:before { content: "\f042"; }
.icon-tint:before { content: "\f043"; }
.icon-edit:before { content: "\f044"; }
.icon-share:before { content: "\f045"; }
.icon-check:before { content: "\f046"; }
.icon-move:before { content: "\f047"; }
.icon-step-backward:before { content: "\f048"; }
.icon-fast-backward:before { content: "\f049"; }
.icon-backward:before { content: "\f04a"; }
.icon-play:before { content: "\f04b"; }
.icon-pause:before { content: "\f04c"; }
.icon-stop:before { content: "\f04d"; }
.icon-forward:before { content: "\f04e"; }

.icon-fast-forward:before { content: "\f050"; }
.icon-step-forward:before { content: "\f051"; }
.icon-eject:before { content: "\f052"; }
.icon-chevron-left:before { content: "\f053"; }
.icon-chevron-right:before { content: "\f054"; }
.icon-plus-sign:before { content: "\f055"; }
.icon-minus-sign:before { content: "\f056"; }
.icon-remove-sign:before { content: "\f057"; }
.icon-ok-sign:before { content: "\f058"; }
.icon-question-sign:before { content: "\f059"; }
.icon-info-sign:before { content: "\f05a"; }
.icon-screenshot:before { content: "\f05b"; }
.icon-remove-circle:before { content: "\f05c"; }
.icon-ok-circle:before { content: "\f05d"; }
.icon-ban-circle:before { content: "\f05e"; }

.icon-arrow-left:before { content: "\f060"; }
.icon-arrow-right:before { content: "\f061"; }
.icon-arrow-up:before { content: "\f062"; }
.icon-arrow-down:before { content: "\f063"; }
.icon-share-alt:before { content: "\f064"; }
.icon-resize-full:before { content: "\f065"; }
.icon-resize-small:before { content: "\f066"; }
.icon-plus:before { content: "\f067"; }
.icon-minus:before { content: "\f068"; }
.icon-asterisk:before { content: "\f069"; }
.icon-exclamation-sign:before { content: "\f06a"; }
.icon-gift:before { content: "\f06b"; }
.icon-leaf:before { content: "\f06c"; }
.icon-fire:before { content: "\f06d"; }
.icon-eye-open:before { content: "\f06e"; }

.icon-eye-close:before { content: "\f070"; }
.icon-warning-sign:before { content: "\f071"; }
.icon-plane:before { content: "\f072"; }
.icon-calendar:before { content: "\f073"; }
.icon-random:before { content: "\f074"; }
.icon-comment:before { content: "\f075"; }
.icon-magnet:before { content: "\f076"; }
.icon-chevron-up:before { content: "\f077"; }
.icon-chevron-down:before { content: "\f078"; }
.icon-retweet:before { content: "\f079"; }
.icon-shopping-cart:before { content: "\f07a"; }
.icon-folder-close:before { content: "\f07b"; }
.icon-folder-open:before { content: "\f07c"; }
.icon-resize-vertical:before { content: "\f07d"; }
.icon-resize-horizontal:before { content: "\f07e"; }

.icon-bar-chart:before { content: "\f080"; }
.icon-camera-retro:before { content: "\f083"; }
.icon-key:before { content: "\f084"; }
.icon-cogs:before { content: "\f085"; }
.icon-comments:before { content: "\f086"; }
.icon-thumbs-up:before { content: "\f087"; }
.icon-thumbs-down:before { content: "\f088"; }
.icon-star-half:before { content: "\f089"; }
.icon-heart-empty:before { content: "\f08a"; }
.icon-signout:before { content: "\f08b"; }
.icon-linkedin-sign:before { content: "\f08c"; }
.icon-pushpin:before { content: "\f08d"; }
.icon-external-link:before { content: "\f08e"; }

.icon-signin:before { content: "\f090"; }
.icon-trophy:before { content: "\f091"; }
.icon-github-sign:before { content: "\f092"; }
.icon-upload-alt:before { content: "\f093"; }
.icon-lemon:before { content: "\f094"; }
.icon-phone:before { content: "\f095"; }
.icon-check-empty:before { content: "\f096"; }
.icon-bookmark-empty:before { content: "\f097"; }
.icon-phone-sign:before { content: "\f098"; }
.icon-twitter:before { content: "\f099"; }
.icon-facebook:before { content: "\f09a"; }
.icon-github:before { content: "\f09b"; }
.icon-unlock:before { content: "\f09c"; }
.icon-credit-card:before { content: "\f09d"; }
.icon-rss:before { content: "\f09e"; }

.icon-hdd:before { content: "\f0a0"; }
.icon-bullhorn:before { content: "\f0a1"; }
.icon-bell:before { content: "\f0a2"; }
.icon-certificate:before { content: "\f0a3"; }
.icon-hand-right:before { content: "\f0a4"; }
.icon-hand-left:before { content: "\f0a5"; }
.icon-hand-up:before { content: "\f0a6"; }
.icon-hand-down:before { content: "\f0a7"; }
.icon-circle-arrow-left:before { content: "\f0a8"; }
.icon-circle-arrow-right:before { content: "\f0a9"; }
.icon-circle-arrow-up:before { content: "\f0aa"; }
.icon-circle-arrow-down:before { content: "\f0ab"; }
.icon-globe:before { content: "\f0ac"; }
.icon-wrench:before { content: "\f0ad"; }
.icon-tasks:before { content: "\f0ae"; }

.icon-filter:before { content: "\f0b0"; }
.icon-briefcase:before { content: "\f0b1"; }
.icon-fullscreen:before { content: "\f0b2"; }

.icon-group:before { content: "\f0c0"; }
.icon-link:before { content: "\f0c1"; }
.icon-cloud:before { content: "\f0c2"; }
.icon-beaker:before { content: "\f0c3"; }
.icon-cut:before { content: "\f0c4"; }
.icon-copy:before { content: "\f0c5"; }
.icon-paper-clip:before { content: "\f0c6"; }
.icon-save:before { content: "\f0c7"; }
.icon-sign-blank:before { content: "\f0c8"; }
.icon-reorder:before { content: "\f0c9"; }
.icon-list-ul:before { content: "\f0ca"; }
.icon-list-ol:before { content: "\f0cb"; }
.icon-strikethrough:before { content: "\f0cc"; }
.icon-underline:before { content: "\f0cd"; }
.icon-table:before { content: "\f0ce"; }

.icon-magic:before { content: "\f0d0"; }
.icon-truck:before { content: "\f0d1"; }
.icon-money:before { content: "\f0d6"; }
.icon-caret-down:before { content: "\f0d7"; }
.icon-caret-up:before { content: "\f0d8"; }
.icon-caret-left:before { content: "\f0d9"; }
.icon-caret-right:before { content: "\f0da"; }
.icon-columns:before { content: "\f0db"; }
.icon-sort:before { content: "\f0dc"; }
.icon-sort-down:before { content: "\f0dd"; }
.icon-sort-up:before { content: "\f0de"; }

.icon-envelope-alt:before { content: "\f0e0"; }
.icon-linkedin:before { content: "\f0e1"; }
.icon-undo:before { content: "\f0e2"; }
.icon-legal:before { content: "\f0e3"; }
.icon-dashboard:before { content: "\f0e4"; }
.icon-comment-alt:before { content: "\f0e5"; }
.icon-comments-alt:before { content: "\f0e6"; }
.icon-bolt:before { content: "\f0e7"; }
.icon-sitemap:before { content: "\f0e8"; }
.icon-umbrella:before { content: "\f0e9"; }
.icon-paste:before { content: "\f0ea"; }

.icon-user-md:before { content: "\f200"; }

.icon-prev-slide:before { content: "\f231"; }
.icon-next-slide:before { content: "\f232"; }
.icon-blog:before { content: "\f234"; }
.icon-show-left:before { content: "\f235"; }
.icon-show-right:before { content: "\f236"; }
.icon-go-down:before { content: "\f237"; }
.icon-go-up:before { content: "\f238"; }
.icon-add-cart:before { content: "\f240"; }
.icon-hourglass:before { content: "\f241"; }

.icon-black-like:before { content: "\f201"; }
.icon-black-dislike:before { content: "\f202"; }
.icon-rss:before { content: "\f203"; }
.icon-skype:before { content: "\f220"; }

.icon-pinterest:before { content: "\f208"; }
.icon-pinterest-sign:before { content: "\f0d3"; }
.icon-facebook-sign:before { content: "\f204"; }
.icon-linkedin-sign:before { content: "\f206"; }
.icon-twitter-sign:before { content: "\f207"; }
.icon-pinterest-sign:before { content: "\f208"; }
.icon-github-sign:before { content: "\f209"; }
.icon-dribbble:before { content: "\f210"; }
.icon-stumbleupob:before { content: "\f211"; }
.icon-behance:before { content: "\f212"; }
.icon-reddit:before { content: "\f213"; }
.icon-google-plus-sign:before { content: "\f0d4"; }
.icon-google-plus:before { content: "\f0d5"; }
.icon-youtube-sign:before { content: "\f105"; }
.icon-youtube:before { content: "\f215"; }
.icon-vimeo:before { content: "\f216"; }
.icon-flickr:before { content: "\f217"; }
.icon-picasa:before { content: "\f219"; }
.icon-instagram:before { content: "\f222"; }
.icon-foursquare:before { content: "\f223"; }
.icon-delicious:before { content: "\f224"; }
.icon-tumblr:before { content: "\f227"; }
.icon-digg:before { content: "\f229"; }
.icon-wordpress:before { content: "\f230"; }


#pix_list_icons {
	display: none;
	max-width: 600px;
}
.menu_icon_preview {
	background: #eeeeee;
	border: 1px solid #dddddd;
	color: #333333;
	cursor: pointer;
	float: left;
	font-size: 22px;
	height: 36px;
	line-height: 36px;
	margin: 1px;
	text-align: center;
	width: 36px;
}
.menu_icon_preview:hover {
	border: 1px solid #bbbbbb;
	background: #ffffff;
	color: #151515;
}


label[for="pix_page_builder-hide"],
label[for="pix_page_builder_content-hide"],
label[for="pix_meta_edittext-hide"],
label[for="pix_meta_googlemap-hide"],
label[for="pix_meta_contactform-hide"],
label[for="pix_meta_tooltip-hide"],
label[for="pix_meta_video-hide"],
label[for="pix_meta_audio-hide"],
label[for="pix_meta_accordion-hide"],
label[for="pix_meta_tab-hide"],
label[for="pix_meta_box-hide"],
label[for="pix_meta_button-hide"],
label[for="pix_meta_pricetable-hide"],
label[for="pix_meta_tweets-hide"],
label[for="pix_meta_galleries-hide"],
label[for="pix_meta_categories-hide"],
label[for="pix_meta_slideshow-hide"],
label[for="pix_meta_testimonial_sc-hide"] {
	display: none;
}

.wp-dialog.pix-dialog.pix-page-builder {
	z-index: 101!important;
}
#TB_overlay {
	z-index: 300003;
}
#TB_window {
	z-index: 300004;
}
